h3 {
    text-align: center;
    margin-top: 40px;
}

.texto {
    background-color: rgba(234, 237, 250, 0.089);
    border: 1em, solid, rgb(255, 255, 255);
}

.navbar {
    background-color: rgb(84, 89, 100);

}

.navbartext {
    color: white;
    margin-left: 1em;
}



.carruselText {
    text-align: center;
}